body{
    padding:20px;
}

.nav-justified{
    background:#eee;
    border-radius:5px;
    border:1px solid black;
}

a:hover{
    text-decoration: none;
}

.nav-justified > li >a{
    padding:20px 0;
    padding:#777;
    text-align: center;
    background-color: #e5e5e5;
}

.jumbotron{
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn{
    padding:15px 25px;
    font-size:22px;
}

.centro{
    text-align: center;
}