ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

li{
    float:left;
}

li a{
    display: inline-block;
    color:orange;
    padding:15px 18px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

li a:hover{
    background-color: darkred;
}

.rightty{
    float:right;
}

.active{
    background-color: crimson;
}